body {
  background: rgb(230, 231, 246);
}

/* Container for full height */
.container-full-height {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Navbar adjustments */
.navv {
  margin-left: auto;
  margin-right: 20px;
}

/* Row styling */
.row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

/* Column styling */
.col {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  max-width: 100%;
}

.col-md-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

/* Text alignment */
.text-center {
  text-align: center;
  margin-bottom: 50px;
}

/* Button container styling */
.btn-container {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
  padding-left: 0;
  box-sizing: border-box;
}

/* Button styling */
.btn {
  padding: 20px 50px;
  border: none;
  color: white;
  background-color: #009dff;
  cursor: pointer;
}

.btn-know {
  background-color: green;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.btn-dont-know {
  background-color: red;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.btn-prev-next {
  background-color: rgb(71, 72, 172);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

/* Margin top */
.margin-top-20 {
  margin-top: 20px;
  position: absolute;
  top: 200px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container-full-height {
    height: auto;
    padding: 20px;
    margin-top: 0; /* Remove negative margin to prevent overlap */
  }

  h1, h4 {
    margin-bottom: 20px; /* Add space below headers */
  }

  .col-md-8,
  .col-lg-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .btn-container {
    gap: 10px;
    padding-left: 0;
    justify-content: center;
  }

  .btn {
    padding: 12px 30px;
    font-size: 14px;
  }

  .btn-prev-next {
    margin: 5px;
  }

  .navbar {
    padding: 10px 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .navv {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .flashcard-container {
    width: 100%;
    padding: 20px;
    margin-top: 30px; /* Ensure space above the flashcard container */
  }

  .flashcard {
    width: 150%;
    height: 150%; /* Adjust height to content */
  }
}

@media (max-width: 576px) {
  .btn-container {
    gap: 8px;
    flex-direction: column;
    width: 100%;
    margin-top: 70%;
  }

  .btn {
    padding: 10px 25px;
    font-size: 12px;
  }

  .btn-prev-next {
    padding: 8px 10px;
    font-size: 12px;
  }

  .flashcard-container {
    width: 100%;
    padding: 10px;
    margin-top: 30px; /* Increase space to ensure flashcard is below headers */
  }
}
