/* Container styles for full height and centering content */
.container-full-height {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Row and column styling for center alignment */
.row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.col {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  max-width: 100%;
}

.col-md-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.text-center {
  text-align: center;
}

/* Button container for proper alignment and spacing */
.btn-container {
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
  gap: 16px;
  align-items: center;
  margin-top: 20px;
  justify-content: center; /* Center buttons horizontally */
  width: 100%;
}

/* General button styling */
.btn {
  padding: 12px 24px; /* Adjusted padding for better fit */
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners for buttons */
  font-size: 1em; /* Consistent font size */
}

/* Styling for 'Know' button */
.btn-know {
  background-color: green;
}

/* Styling for 'Don't Know' button */
.btn-dont-know {
  background-color: red;
}

/* Styling for 'Previous' and 'Next' buttons */
.btn-prev-next {
  background-color: rgb(71, 72, 172);
}

/* Margin-top for score display */
.margin-top-20 {
  margin-top: 20px;
}

/* Mobile responsiveness */
@media (max-width: 576px) {
  .btn-container {
    gap: 10px; /* Reduced gap on smaller screens */
  }

  .btn {
    width: 100%; /* Full width buttons on small screens */
    padding: 10px; /* Reduced padding on small screens */
  }
}

@media (max-width: 768px) {
  .flashcard-item {
    height: auto; /* Adjust height for mobile */
  }

  .btn-container {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
  }
}
