

.navbar-nav {
  flex-direction: row;
}
.navbar{
  padding: 10px;
  border-radius: 10px;
  padding-right: 30px;
  padding-left: 20px;
}

.navbar-nav .form-inline {
  display: flex;
  align-items: center;
}

button.navbar-toggler {
  margin-left: auto;
}

button.navbar-toggler + .navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.flashcard-container {
  margin-bottom: 1rem;
}
/* FlashcardList.css */

.flashcard-item {
  height: 200px; /* Ensure all cards have the same height */
}

.button-container {
  margin-top: 100px;
}

.button-spacing {
  margin-right: 10px;
}

.flashcard {
  width: 1000px; /* Adjust this value to increase the width */
  height: 200px; /* You can adjust the height as well */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  display: flex;

}
.flashcard .front {
 /* Change this to your desired front color */
  border: 1px solid #7091b2;
  border-radius: 0.25rem;
  cursor: pointer;
}
.flashcard .back {
  transform: rotateY(180deg);
/* Change this to your desired back color */
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 0.25rem;
  /* White text for better contrast */
}
.flashcard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flashcard-buttons {
  margin-top: 0.5rem; /* Adjust the spacing between the flashcard and buttons */
}
h1{
  font-family: Calibri;
  font-weight: 600;
}